openapi: 3.1.0
info:
  title: Samora AI Calls API
  version: '1.0'
  description: Server-to-server REST API for Samora AI multilingual voice agents. Trigger outbound calls, manage outbound calling campaigns and their scheduled recipients, and subscribe to real-time call events via webhooks. These APIs are intended for server-to-server integrations; the organization API key must never be exposed in browser or mobile clients.
  contact:
    name: Samora AI API Support
    email: vineeth@samora.ai
    url: https://docs.samora.ai
  x-provenance:
    generated: '2026-07-21'
    method: generated
    source: https://docs.samora.ai
    note: Faithfully constructed from the published Samora AI API reference at https://docs.samora.ai (no OpenAPI is published by the provider; /openapi.json returned 404). Paths, methods, auth, field names, limits and status/event enumerations are transcribed from the documentation, not invented.
servers:
- url: https://api.samora.ai
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Calls
  description: Trigger and retrieve individual outbound calls.
paths:
  /v1/call/trigger:
    post:
      operationId: triggerCall
      summary: Trigger an outbound call
      description: Initiate an outbound call from a voice agent to a phone number.
      tags:
      - Calls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerCallRequest'
      responses:
        '200':
          description: Call created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/call/{call_id}:
    get:
      operationId: getCall
      summary: Get a call
      description: Get details for a specific call, including status and presigned transcript/recording URLs.
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/CallId'
      responses:
        '200':
          description: Call details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    CallId:
      name: call_id
      in: path
      required: true
      description: Unique identifier of the call.
      schema:
        type: string
        format: uuid
  schemas:
    Call:
      type: object
      properties:
        call_id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/CallStatus'
        transcript_url:
          type: string
          format: uri
          description: Presigned transcript URL, valid for 60 minutes.
        recording_url:
          type: string
          format: uri
          description: Presigned recording URL, valid for 60 minutes.
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    CallStatus:
      type: string
      enum:
      - PENDING
      - TRIGGERED
      - ONGOING
      - CALL_FINISHED
      - UNANSWERED
      - REJECTED
    TriggerCallRequest:
      type: object
      required:
      - agent_id
      - to_number
      properties:
        agent_id:
          type: string
          format: uuid
          description: The voice agent placing the call.
        to_number:
          type: string
          description: Destination phone number in E.164 format (e.g. +919876543210).
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid X-API-Key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key. Server-to-server only; never expose in browser or mobile clients.
